*{margin: 0; padding: 0}
ul{list-style: none;}
a{text-decoration: none; color: #fff;}
body{
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 24px;
  line-height: 23px;
  color: #fff;
  background-color: #000;
}
/*header 시작*/
#header{
 height: 265px;
 width: 100%;
 top: 0;
 left: 0;
 position: absolute;
}
.header_bor{
  height: 265px;
  border-bottom: 3px solid #5a5a5a;
}
.header_inner{ /*1320px*/
  width: 1320px;
  margin: auto;
  padding-top: 58px;
  position: relative;
}
.header_inner h1{ /*logo*/
  display: block;
  text-align: center;
}
.header_icon{
  position: absolute;
  top: 85px;
  right: 11px;
  opacity: 0.7;
}
.header_icon:hover{
  transform: scale(1.2);
  opacity: 1;
}
/*메뉴*/
.nav{
  width: 1320px;
}
.nav li a{
  display: block;
  width: 25%;
  float: left;
  text-align: center;
  margin-top: 50px;
  padding: 20px 0px;
  font-weight: 500;
}
.nav li a:hover{
  color: #e6a725;
}
/*nav 끝*/

/*box1*/
#box1{
  height: 891px;
  margin-top: 265px;
  background: url(../images/sub-1-bg.jpg) no-repeat center top;
  
}
/*icon_top 버튼 시작*/
.icon_top{position:fixed; bottom:50px; right:50px; display:none;}
.icon_top:hover{
  background-color: rgba(0, 0, 0, 0.7);
  transform: scale(1.2);
  border-radius: 50%;
}
/*icon_top 버튼 끝*/

/*box1 끝*/
/*box2*/
#box2{
  height: 1186px;
  background: url(../images/sub-2-bg.jpg) no-repeat center top;
}
.box2_inner{
  width: 1320px;
  height: 1164px;
  margin: auto;
}
.box2_inner .sub-y1{
  margin-bottom: 142px;
}
.box2_inner p{
  font-size: 30px;
  line-height: 60px;
  margin-bottom: 50px;
  padding-left: 248px;
  background: url(../images/icon_check.png) no-repeat 182px 10px;
}
/*box3*/
#box3{
  height: 857px;
  background: url(../images/3-bg.jpg) no-repeat center top;
}
.box3_inner{
  width: 1320px;
  margin: auto;
}
.box3_inner .sub-y2{
  margin-bottom: 236px;
}
.box3_inner p{
  font-size: 30px;
  line-height: 60px;
  margin-bottom: 50px;
  padding-left: 248px;
  background: url(../images/icon_check.png) no-repeat 182px 10px;
}
/*box4*/
#box4{
  height: 629px;
  background: url(../images/4-bg.jpg) no-repeat center top;
}
.box4_inner{
  width: 1320px;
  margin: auto;
}
.box4_inner .sub-y3{
  margin-bottom: 182px;
}
.box4_inner P{
  font-size: 30px;
  line-height: 60px;
  margin-bottom: 50px;
  padding-left: 248px;
  background: url(../images/icon_check.png) no-repeat 182px 10px;
}
/*box5*/
#box5{
  height: 1775px;
  background: url(../images/5-bg.jpg) no-repeat center top;
  border-bottom: 3px solid #5a5a5a;
}
.box5_inner{
  width: 1320px;
  margin: auto;
}
.box5_inner .sub-y4{
  margin-bottom: 206px;
}
.box5_inner P{
  font-size: 30px;
  line-height: 60px;
  margin-bottom: 50px;
  padding-left: 248px;
}
.box5_1{
  background: url(../images/5-no1.png) no-repeat 182px 10px;
}
.box5_2{
  background: url(../images/5-no2.png) no-repeat 182px 10px;
}
.box5_3{
  background: url(../images/5-no3.png) no-repeat 182px 10px;
}
.box5_4{
  background: url(../images/5-no4.png) no-repeat 182px 10px;
}
.box5_5{
  background: url(../images/5-no5.png) no-repeat 182px 10px;
}
.box5_6{
  background: url(../images/5-no6.png) no-repeat 182px 10px;
}
.box5_7{
  background: url(../images/5-no7.png) no-repeat 182px 10px;
}

/*footer*/
#footer{
  width: 1320px;
  height: 317px;
  margin: auto;
  position: relative;

}
.footer_left{
  float: left;
  margin-left: 384px;
  margin-top: 114px;
}
.footer_left li{
  margin-right: 40px;
  float: left;
}
.footer_right{
  float: right;
  margin-top: 114px;
}
.footer_right li{
  float: left;
  margin-left: 15px;
}
#footer p{
  margin-left: 384px;
  clear: both;
  padding-top: 20px;
  line-height: 40px;
  font-size: 18px;
  opacity: 0.7;
}
#footer .footer_logo{
  position: absolute;
  top: 124px;
  left: 46px;
  opacity: 1;
}
#footer .footer_left a, .footer_right a{
  opacity: 0.7;
}
#footer a:hover{
  opacity: 1;
}
/*footer 끝*/